.HomePage-header {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jitter";
    padding: 1%;
    font-size: 500%;
    color: white;
}

.HomePage-body {
    background-color: #141414;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y: hidden;
}

.HomePage-Project1{
    min-width: 400px;
    max-width: 400px;
    width: 100%;
    background-color: #1b1c1d;
    color: #fff6ee;
    border-radius: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 3%;
    flex-shrink: 0;
}

.scroll-container {
  flex-grow: .75;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  width: 100%;
}

.scroll-content {
  display: inline-flex;
  gap: 2%;
}

@font-face { 
    font-family: 'Jitter'; 
    src: url('../../Jitter.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
  } 

  .inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .inter-extralight {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  
  .inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-extrabold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .inter-black {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }