.loading-screen-body {
  background-color: #141414;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loading-screen--image img {
  max-width: 300px;
}

.loading-screen--message-container {
  padding: 50px;
}

.loading-screen--message-container h1 {
  color: white;
  font-size: xx-large;
}
