.AdminPage-header {
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jitter";
    padding: 1%;
    font-size: 500%;
    color: white;
  }
  
  .AdminPage-body {
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .AdminPage-Cue {
    width: 300px;
    min-height: 650px;
    height: auto;
    background-color: #151515;
    color: #918b85;
    border-radius: 5%;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    flex-shrink: 0;
    box-sizing: content-box;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .highlighted-cue {
    background-color: #1b1c1d;
    color: #fff6ee;
  }

  .controlPanel-AdminPage{
    width: 300px;
    height: 700px;
    color: #fff6ee;
    border-radius: 5%;
    padding: 0;
    flex-shrink: 0;
    box-sizing: content-box;
    background-color: #1b1c1d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controlPanelSection {
    border: 3px solid #578493;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 280px;
    text-wrap: auto;
  }
  
  .section {
    border: 3px solid #173038;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 280px;
    text-wrap: auto;
  }

  .highlightedSection {
    border: 3px solid #578493;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 280px;
    text-wrap: auto;
    transition: border 0.3s ease, color 0.3s ease;
  }
  
  .hrAdminPage{
    border-top: 3px solid #173038;
    border-radius: 10px;
    min-width: 200px;
    margin-top: 10;
    margin-bottom: 0;
    border-style: solid;
    opacity: 1;
    margin-left: -12;
  }

  .highlightedHrAdminPage{
    border-top: 3px solid #578493;
    border-radius: 10px;
    min-width: 200px;
    margin-top: 10;
    margin-bottom: 0;
    border-style: solid;
    opacity: 1;
    margin-left: -12;
  }

  .scroll-container-AdminPage {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    width: 83%;
    justify-content: flex-start;
  }
  
  .scroll-content-AdminPage {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    width: auto; /* Allow flexible width */
  }
  
  .cueNumber {
    background-color: #918b85;
    color: #1b1c1d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .highlightedCueNumber {
    background-color: #fff6ee;
    color: #1b1c1d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
  }
  
  .vertical-line {
    width: 3px;
    height: 45px; /* Adjust as needed */
    background-color: #173038;
    border-radius: 10px;
    margin-right: 0;
  }

  .highlightedVertical-line {
    width: 3px;
    height: 45px; /* Adjust as needed */
    background-color: #578493;
    border-radius: 10px;
    margin-right: 0;
  }
  
  .title-AdminPage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%; /* Ensure it stays within the card */
  }
  
  
  .PrevNext-Buttons{
    background-color: #578493;
    color: #fff6ee;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40%;
    padding: 3%;
    border-radius: 5px;
    margin: 2%;
    margin-top: 0;
  }

  .PrevNext-Button:hover {
    background-color: #457180;
  }

  @font-face {
    font-family: "Jitter";
    src: url("../../Jitter.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  .inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .inter-extralight {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  
  .inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-semibold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-extrabold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .inter-black {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  